/raw/*
raw/*
src/__pycache__/engine.cpython-36.pyc
src/data/__pycache__/__init__.cpython-36.pyc
src/data/__pycache__/evaluation.cpython-36.pyc
src/data/__pycache__/preproc.cpython-36.pyc
src/data/__pycache__/reader.cpython-36.pyc
src/data/__pycache__/generator.cpython-36.pyc
src/network/__pycache__/model.cpython-36.pyc
src/network/__pycache__/__init__.cpython-36.pyc
notebook/Transformer_ocr.ipynb
notebook/Transformer_ocr.ipynb
notebook/.ipynb_checkpoints/Transformer_ocr-checkpoint.ipynb
notebook/Transformer_ocr.ipynb
/data/*
data/*
/output/*
output/*
data/HKR.hdf5
